<h2>Tenant List</h2>
<button mat-raised-button color="primary" routerLink="add">Add Tenant...</button>
<table mat-table [dataSource]="tenants">

    <ng-container matColumnDef="uri">
        <th mat-header-cell *matHeaderCellDef>URI</th>
        <td mat-cell *matCellDef="let tenant">{{tenant.uri}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let tenant">{{tenant.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let tenant; columns: displayedColumns;"></tr>
</table>
