<h2>Create Tenant</h2>
<div>
    <div *ngIf="!submitted">
        <form [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field appearance="fill" >
                    <mat-label>Name</mat-label>
                    <input matInput required formControlName="name" placeholder="Enter a unique Tenant name."/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>URI</mat-label>
                    <input matInput required formControlName="uri" placeholder="Enter a unique Tenant URI."/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" placeholder="Optionally provide a description."></textarea>
                </mat-form-field> 
            </div>        
            <button mat-raised-button color="primary" type="submit" [disabled]="!tenantForm.valid">Add Tenant</button>
            <button mat-raised-button color="warn" routerLink="/tenants">Cancel</button>
        </form>
    </div>
</div>